body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #004080, #00A65A);
    color: #004080;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.log {
    background-color: #004080; 
    color: #FFFFFF;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 500px; /* Increased max-width */
    width: 100%; /* Ensures it scales with the screen size */
}

.log div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #FFFFFF;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #00A65A;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 166, 90, 0.5);
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #00A65A, #004080);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #004080, #00A65A);
}

a {
    color: #00A65A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
